{% extends "users/homebase.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block nav_content %}
    <li class="nav-item active">
      <a class="nav-link" href="{% url  'home' %}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'view_self' %}?sid={{ user.sid }}">View self</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'remove_leave' %}?sid={{ user.sid }}">Remove Leaves</a>
    </li>
{% endblock nav_content %}
{% block content %}

<div class="d-md-flex  ">

    <div class="col-md-6 ">

        <div class="cal-container">
            <h2>Details of {{ur.sid}}</h2>
            <div class="calendar">
                <div class="calendar-header">
                    <span class="month-picker" id="month-picker">April</span>
                    <div class="year-picker">
                        <span class="year-change" id="prev-year">
                            <pre><</pre>
                        </span>
                        <span id="year">2022</span>
                        <span class="year-change" id="next-year">
                            <pre>></pre>
                        </span>
                    </div>
                </div>
                <div class="calendar-body">
                    <div class="calendar-week-day">
                        <div>Sun</div>
                        <div>Mon</div>
                        <div>Tue</div>
                        <div>Wed</div>
                        <div>Thu</div>
                        <div>Fri</div>
                        <div>Sat</div>
                    </div>
                    <div class="calendar-days"></div>
                </div>

                <div class="month-list"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6 ">
        <div class="leave-add-form">
            <div class="cont">
            <p>CLS left : {{cls_left}}</p>
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Remove leaves</legend>
                    {{ l_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info button-bg-color" type="submit">Remove</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="{% static 'cal.css' %}">
<style>
    .cont {
        width: 350px;
    }
    .leave-add-form {
    height:100%
    background-color:
    display: grid;
    place-items: center;


    font-family: var(--font-family);
    background-color: var(--bg-body);
}

</style>

<script>
let str = `{{data|safe}}`
let data = JSON.parse(str)
let cls_list = data["cls_list"]
let ccls_list = data["ccls_list"]
let sls_list = data["sls_list"]



</script>
<script src="{% static 'cal.js' %}"></script>
{% endblock content %}
