{% extends "users/homebase.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block nav_content %}
    <li class="nav-item ">
    <a class="nav-link" href="{% url 'home' %}">Home</a>
</li>
<li class="nav-item dropdown active">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">
        Self <span class="sr-only">(current)</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="{% url 'profile' %}?sid={{user.sid}}">Profile</a>
        <a class="dropdown-item" href="{% url 'add_leave' %}?sid={{user.sid}}">Add</a>
        <a class="dropdown-item" href="{% url 'remove_leave' %}?sid={{user.sid}}">Remove</a>
    </div>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'search_sid' %}">Others</a>
</li>
{% endblock nav_content %}
{% block content %}
<div class="cal-container">
            <h2>Details of {{user.sid}}</h2>
            <div class="calendar">
                <div class="calendar-header">
                    <span class="month-picker" id="month-picker">April</span>
                    <div class="year-picker">
                        <span class="year-change" id="prev-year">
                            <pre><</pre>
                        </span>
                        <span id="year">2022</span>
                        <span class="year-change" id="next-year">
                            <pre>></pre>
                        </span>
                    </div>
                </div>
                <div class="calendar-body">
                    <div class="calendar-week-day">
                        <div>Sun</div>
                        <div>Mon</div>
                        <div>Tue</div>
                        <div>Wed</div>
                        <div>Thu</div>
                        <div>Fri</div>
                        <div>Sat</div>
                    </div>
                    <div class="calendar-days"></div>
                </div>

                <div class="month-list"></div>
            </div>
        </div>
<div class="d-md-flex  ">

<div class="col-md-6 " >
    <div class="card " style="">
        <div class="card-body">
            <p class="mb-4">Leaves Left</p>

            <div class="row">
                <div class="col-sm-4">
                    <p class="mb-0">CLs</p>
                </div>
                <div class="col-sm-8">
                    <p class="text-muted mb-0">{{cls_left}}</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-4">
                    <p class="mb-0">CCLs</p>
                </div>
                <div class="col-sm-8">
                    <p class="text-muted mb-0">{{user.profile.ccl_left}}</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-4">
                    <p class="mb-0">HPLs</p>
                </div>
                <div class="col-sm-8">
                    <p class="text-muted mb-0">{{user.profile.ssl_left}}</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-4">
                    <p class="mb-0">EPLs</p>
                </div>
                <div class="col-sm-8">
                    <p class="text-muted mb-0">{{user.profile.epl_left}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6 ">
    <div class="leave-add-form">
            <div class="cont">

            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Remove leaves</legend>

                    <div class="d-md-flex  " >
                        <div style="padding:10px;padding-right:20px">
                            From Date:
                            {{ l_form.from_date }}
                        </div>
                        <div style="padding:10px">
                            To Date:
                            {{ l_form.to_date }}
                        </div>
                    </div>

                    <!--div class="d-md-flex  " -->

                            {{ l_form.half.as_hidden }}

                            {{ l_form.Type.as_hidden }}

                    <!--/div-->

                </fieldset>
                <div class="form-group">
                    <a class=" btn btn-outline-info" href="{% url 'profile' %}?sid={{user.sid}}">Back</a>
                    <button class="btn btn-outline-info button-bg-color" type="submit">Remove</button>
                </div>
            </form>
            </div>
        </div>
</div>

</div>

<link rel="stylesheet" href="{% static 'cal.css' %}">
<style>
.l_details{
@media screen and (min-width: 800px) {
  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
}
    .cont {
        width: 350px;
    }
    .leave-add-form {
    height:100%
    background-color:
    display: grid;
    place-items: center;


    font-family: var(--font-family);
    background-color: var(--bg-body);
}

</style>

<script>
let str = `{{data|safe}}`
let data = JSON.parse(str)
let h_list = data["h_list"]
let cls_list = data["cls_list"]
let ccls_list = data["ccls_list"]
let sls_list = data["sls_list"]
let h_cls_list = data["h_cl_list"]
let h_ccls_list = data["h_ccl_list"]
let h_sls_list = data["h_sl_list"]
let epl_list = data["epl_list"]
let h_epl_list = data["h_epl_list"]
</script>

<script src="{% static 'cal.js' %}"></script>
{% endblock content %}
