{% extends "users/homebase.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block nav_content %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">Home</a>
</li>
<li class="nav-item ">
    <a class="nav-link" href="{% url 'remove_holiday' %}">Remove Holiday<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">
        Self
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="{% url 'profile' %}?sid={{user.sid}}">Profile</a>
        <a class="dropdown-item" href="{% url 'add_leave' %}?sid={{user.sid}}">Add</a>
        <a class="dropdown-item" href="{% url 'remove_leave' %}?sid={{user.sid}}">Remove</a>
    </div>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'search_sid' %}">Others</a>
</li>

{% endblock nav_content %}
{% block content %}
<section style="background-color: #fff;" class="px-3">
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4 mt-4 me-4">
                <div class="card-body text-center" style="padding-bottom: 40px;padding-top: 40px;">
                    <img src="{{user.profile.image.url}}" alt="avatar"
                         class="rounded-circle img-fluid" style="width: 150px;">
                    <h5 class="my-3">{{user.username}}</h5>
                    <p class="text-muted mb-1">{{user.profile.name}}</p>
                    <p class="text-muted mb-4">{{user.profile.designation}} </p>
                    <a class="btn btn-light " href="{% url 'profile_edit' %}?sid={{user.sid}}">Edit Profile</a>

                </div>
            </div>
            <!-- User Details -->
            <div class="card mb-4" ">
                <div class="card-body">
                    <h4>Personal Details</h4><br>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="mb-0">Full Name</p>
                        </div>
                        <div class="col-sm-8">
                            <p class="text-muted mb-0">{{user.profile.name}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-8">
                            <p class="text-muted mb-0">{{user.email}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="mb-0">Designation</p>
                        </div>
                        <div class="col-sm-8">
                            <p class="text-muted mb-0">{{user.profile.designation}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="mb-0">Address</p>
                        </div>
                        <div class="col-sm-8">
                            <p class="text-muted mb-0">Cherapali, ECIL</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card mb-4 mb-md-0 border-0">
                <div class="card-body cal-container">
                    <div class="cal-container">
                        <div class="calendar">
                            <div class="calendar-header">
                                <span class="month-picker" id="month-picker">April</span>
                                <div class="year-picker">
                                        <span class="year-change" id="prev-year">
                                            <pre><</pre>
                                        </span>
                                    <span id="year">2022</span>
                                    <span class="year-change" id="next-year">
                                                <pre>></pre>
                                            </span>
                                </div>
                            </div>
                            <div class="calendar-body">
                                <div class="calendar-week-day">
                                    <div>Sun</div>
                                    <div>Mon</div>
                                    <div>Tue</div>
                                    <div>Wed</div>
                                    <div>Thu</div>
                                    <div>Fri</div>
                                    <div>Sat</div>
                                </div>
                                <div class="calendar-days"></div>
                            </div>

                            <div class="month-list"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Leaves Details -->
            <div class="card mb-4">
            <div class="card-body">
                <p class="mb-4">Leaves Left</p>

                <div class="row">
                    <div class="col-sm-4">
                        <p class="mb-0">CLs</p>
                    </div>
                    <div class="col-sm-8">
                        <p class="text-muted mb-0">{{cls_left}}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-4">
                        <p class="mb-0">CCLs</p>
                    </div>
                    <div class="col-sm-8">
                        <p class="text-muted mb-0">{{ccls_left}}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-4">
                        <p class="mb-0">HPLs</p>
                    </div>
                    <div class="col-sm-8">
                        <p class="text-muted mb-0">{{sls_left}}</p>
                    </div>
                </div>
                <br>
                <div style="display:flex;justify-content: space-evenly;">
                    <a class="btn btn-outline-info" href="{% url 'add_leave' %}?sid={{ user.sid }}">Apply</a>

                    <a class="btn btn-outline-info" href="{% url 'remove_leave' %}?sid={{ user.sid }}">Edit/Remove</a>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
<link rel="stylesheet" href="{% static 'cal.css' %}">
<style>
    .cont {
        width: 350px;
    }
    .leave-add-form {
    height:100%
    background-color:
    display: grid;
    place-items: center;


    font-family: var(--font-family);
    background-color: var(--bg-body);
}




</style>

<script>
let str = `{{data|safe}}`
let data = JSON.parse(str)
let h_list = data["h_list"]
let cls_list = data["cls_list"]
let ccls_list = data["ccls_list"]
let sls_list = data["sls_list"]




</script>
<script src="{% static 'cal.js' %}"></script>
{% endblock content %}
